<div class="col-xs-12 col-md-12 col-md-12 col-lg-12 size-adaptable">
  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <h4>* Historial de movimientos</h4>
    </div>
</div>
  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-md-offset-20">
    <%= link_to 'Exportar Excel', movements_path(@movements, format: "xls"), class: 'btn btn-success' %>
  </div>
    <div class="col-sm-12 col-md-12">
        <section class="panel">
            <header class="panel-heading">
            </header>
            <div class="panel-body">
                <div class="adv-table">
                    <table  class="display table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Tipo</th>
                                <th>Creador</th>
                                <th>Origen</th>
                                <th>Destino</th>
                                <th>Responsable</th>
                                <th>Fecha de Creacion</th>
                                <th>Estado</th>
                                <th>*</th>
                                <th>*</th>
                                <th>*</th>
                            </tr>
                        </thead>
                        <tbody>
                          <% @movements.each do |movement| %>
                              <tr>
                                <td><%= movement.movement_type.name %></td>

                                <td><%= movement.creator.fullname %></td>
                                <td>
                                  <% if movement.movement_type_id == 1 %>
                                    <%= Supplier.find(movement.originable_id).name.capitalize %></td>
                                  <% else %>
                                    <%= Warehouse.find(movement.originable_id).name.capitalize %></td>
                                  <% end %>
                                </td>
                                <td>
                                  <% if movement.movement_type_id == 5 %>
                                    <%= Supplier.find(movement.destinable_id).name.capitalize %></td>
                                  <% else %>
                                    <%= Warehouse.find(movement.destinable_id).name.capitalize %></td>
                                  <% end %>
                                </td>
                                <td><%= User.find(movement.responsable_id).fullname.capitalize %></td>
                                <td><%= movement.created_at.to_date %></td>
                                <td><%= t(movement.status).capitalize %></td>
                                <td><%= link_to 'ver', movement, class: 'btn btn-info' %></td>
                                <% if movement.pending? %>
                                  <td><%= link_to 'editar', edit_movement_path(movement, type: movement.movement_type_id), class: 'btn btn-success' %></td>
                                  <td><%= link_to 'eliminar', movement, method: 'delete', data: { confirm: 'Desea eliminar el movimiento?' }, class: 'btn btn-danger' %></td>
                                <% else %>
                                  <td><%= link_to 'editar', edit_movement_path(movement, type: movement.movement_type_id), class: 'btn btn-default disabled' %></td>
                                  <td><%= link_to 'eliminar', movement, method: 'delete', data: { confirm: 'Desea eliminar el movimiento?' }, class: 'btn btn-default disabled' %></td>
                                <% end %>
                              </tr>
                          <% end %>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
</div>

