<div class="col-xs-12 col-sm-12 col-md-12">
	<div class="col-xs-12 col-sm-12 col-md-12 size-one rsp1">
		<div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-4 text-padding wow bounceInLeft">
			<h1 class="color1">Gestiona tus productos </h1><br>
			<p>Nada mejor que tener al alcance la información de tus productos, según su categoría y otras características, evita el desabastecimiento y ten siempre tus productos disponibles.</p>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-5 wow bounceInRight">
			<%= image_tag("GIF.producto.gif", :width => 500, :height => 300, class: 'img-responsive') %>	
		</div>
	</div>
</div>


<div class="col-xs-12 col-sm-12 col-md-12 visible-xs visible-sm">
	<div class="col-xs-12 col-sm-12 col-md-12 size-gif rsp2">
		<div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-4 text-padding wow bounceInRight">
			<h1 class="color2">Organiza mejor tu almacén, hazlo eficiente!</h1><br>
			<p>Controla las operaciones multialmacén de transferencias internas de inventario, desde préstamos y devoluciones de tus productos.</p>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-5 wow bounceInLeft">
			<%= image_tag("GIF.almacen.gif", :width => 500, :height => 300, class: 'img-responsive') %>	
		</div>
	</div>
</div>

<div class="col-xs-12 col-sm-12 col-md-12 hidden-xs hidden-sm">
	<div class="col-xs-12 col-sm-12 col-md-12 size-gif rsp2">
		<div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-5 wow bounceInLeft">
			<%= image_tag("GIF.almacen.gif", :width => 500, :height => 300, class: 'img-responsive') %>	
		</div>
		<div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-4 text-padding wow bounceInRight">
			<h1 class="color2">Organiza mejor tu almacén, hazlo eficiente!</h1><br>
			<p>Controla las operaciones multialmacén de transferencias internas de inventario, desde préstamos y devoluciones de tus productos.</p>
		</div>
	</div>
</div>


<div class="col-xs-12 col-sm-12 col-md-12">
	<div class="col-xs-12 col-sm-12 col-md-12 size-two rsp3">
		<div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-4 text-padding wow bounceInLeft">
			<h1 class="color1">Historial de movimiento en tiempo real</h1><br>
			<p>Conocer en dónde se encuentra tus productos y quién es el responsable es importante para toda empresa, el control y la gestión eficiente es la clave en el desarrollo y crecimiento de toda empresa.</p>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-5 wow bounceInRight">
			<%= image_tag("GIF.TI.gif", :width => 500, :height => 300, class: 'img-responsive') %>		
		</div>
	</div>
</div>

<div class="col-xs-12 col-sm-12 col-md-12" id="characters">
	<div class="col-xs-12 col-sm-12 col-md-12 size-gif">
		<div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-5">
			<%= image_tag("imac.png", :width => 350, :height => 300, class: 'wow bounceInUp img-responsive') %>	
		</div>
		<div class="col-xs-12 col-sm-12 col-md-5 wow bounceInUp">
			<ul class="text-left cWhite" id="list-bad"><br>
				<li> Acceder a tu almacén desde cualquier lugar y en todo momento. </li><br> 
				<li> Gestionar tus productos efectivamente.</li><br>
				<li> Gestionar tus operaciones de transferencia interna. </li><br> 
				<li> Acceder al historial de movimiento de las transacciones internas.</li><br> 
				<li> Descargar documentos en formato PDF.</li><br>
			</ul>
		</div>
		
	</div>
</div>
<div class="col-xs-12 col-sm-12 col-md-12" id="contact">
	<div class="col-xs-12 col-sm-12 col-md-12 size-gif">
		<div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10 text-center wow bounceInUp">
			<h3 class="text-center">Contáctanos</h3><br>
			<p>Lima, Perú</p>
      		<p>Calle Hellen Keller 155, Departamento 402</p>
      		<p>Surquillo</p>
      		<p>+01 2967992</p>
		</div>
	</div>
</div>