<section class="wrapper">
    <div class="col-xs-12 col-md-12 col-md-12 col-lg-12 size-adaptable">
      <%= simple_form_for @guide do |f| %>
        <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10 col-lg-10">
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <h4>Nueva entrada</h4>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-6">
                    <%= submit_tag 'Guardar', class: 'btn btn-info' %>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                <%= link_to 'Listar', guides_path, class: 'btn btn-warning' %>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-9 col-lg-9 border-form">
            <div class="form-horizontal col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                    <div class="form-group">
                        <label for="exampleInputName2">Proveedor</label>
                        <%= f.input :originable_id, collection: Supplier.all, label_method: :name, value_method: :id, label: false, include_blank: 'Elija proveedor...', input_html: { class: 'form-control' } %>
                        <%= f.input :originable_type, input_html: { value: 'Supplier' }, as: :hidden %>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail2">Encargado</label>
                        <input type="text" class= 'form-control' value= 'Nombre del usuario logueado' disabled>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-5 col-lg-offset-2 col-lg-5">
                    <div class="form-group">
                        <label for="exampleInputEmail2">Destino</label>
                        <%= f.input :destinable_id, collection: Warehouse.all, label_method: :name, value_method: :id, label: false, include_blank: 'Elija almacen...', input_html: { class: 'form-control' } %>
                        <%= f.input :destinable_type, input_html: { value: 'Warehouse' }, as: :hidden %>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail2">Responsable</label>
                        <%= f.input :responsable_id, collection: Storekeeper.all, label_method: lambda { |storekeeper| "#{storekeeper.last_name}, #{storekeeper.first_name}" }, value_method: :id, label: false, include_blank: 'Elija responsable...', input_html: { class: 'form-control' } %>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-11 col-lg-11">
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <h4>* Productos</h4>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
                  <div class="panel-body">
                      <div class="adv-table editable-table ">
                          <div class="clearfix">
                              <div class="btn-group">
                                  <button id="editable-sample_new" class="btn btn-warning">
                                    Añadir un elemento <i class="fa fa-plus"></i>
                                  </button>
                              </div>
                          </div>
                          <table class="table" id="editable-sample">
                              <thead>
                                  <tr>
                                      <th>Categoria Prod.</th>
                                      <th>Producto</th>
                                      <th>Cantidad</th>
                                      <th>SKU</th>
                                      <th>*</th>
                                      <th>*</th>
                                  </tr>
                              </thead>

                              <tbody>
                                  <tr>
                                      <td>
                                        <select class="form-control">
                                            <option>Smartv</option>
                                            <option>Smartv 1</option>
                                            <option>Smartv 2</option>
                                        </select>
                                      </td>
                                      <td>
                                        <select class="form-control">
                                            <option>TV</option>
                                            <option>TV 1</option>
                                            <option>TV 2</option>
                                        </select>
                                      </td>
                                      <td>
                                        <input type="text" class="form-control" id="exampleInputEmail2" placeholder="4">
                                      </td>
                                      <td>
                                        <button class="btn btn-warning" data-toggle="modal" data-target="#myModal">Crear Serial</button>
                                      </td>
                                      <td><a class="edit" href="javascript:;">Edit</a></td>
                                      <td><a class="delete" href="javascript:;">Delete</a></td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
            </div>
        </div>
      <% end %>
    </div>
</section>
