    <div class="col-xs-12 col-md-12 col-md-12 col-lg-12 size-adaptable">   
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <h4>* Listado de Proveedores</h4>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <%= link_to 'Crear nuevo', new_supplier_path, class: 'btn btn-success' %>
        </div>
    </div>

        <div class="col-sm-12 col-md-12">
            <section class="panel">
                <header class="panel-heading">
                </header>
                <div class="panel-body">
                    <div class="adv-table">
                        <table  class="display table table-bordered table-striped" id="dynamic-table">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Dirección</th>
                                    <th>Nombre Contacto</th>
                                    <th>Correo</th>
                                    <th>Celular</th>
                                </tr>
                            </thead>
                            <tbody>
                              <% @suppliers.each do |supplier| %>
                                <tr>
                                  <td><%= supplier.name %></td>
                                  <td><%= supplier.address %></td>
                                  <td><%= supplier.name %></td>
                                  <td><%= supplier.email %></td>
                                  <td><%= supplier.phone %></td>
                                </tr>
                              <% end %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>