<tbody>
  <tr>
    <%= simple_form_for [movement, line_item] do |l| %>
    <td>
      <%= l.input :product_id, collection: Product.all, label_method: lambda { |product| "#{product.name} / #{product.description.brand} - #{product.description.sub_brand}" }, value_method: :id, include_blank: 'Elija producto...', label: false %>
    </td>
    <td>
      <%= l.input :quantity, label: false %>
    </td>
    <td><%= submit_tag 'Guardar linea', class: 'btn btn-danger' %></td>
  <% end %>
    <td>
      <%= link_to "Crear Serial", edit_line_item_path(line_item), remote: true unless line_item.new_record? %>
    </td>
  </tr>
</tbody>


