    <div class="col-xs-12 col-md-12 col-md-12 col-lg-12 size-adaptable">
        <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10 col-lg-10">
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                    <h4>* Listado de Almacenes</h4>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-9 col-lg-9">
            <table class="table table-bordered">
                <thead>
                    <tr>
                      <th>Codigo Almacen</th>
                        <th>Nombre</th>
                        <th>Direccion</th>
                        <th>Locacion</th>
                        <th>Proyecto</th>
                    </tr>
                </thead>
                <tbody>
                    <% @warehouses.each do |warehouse| %>
                    <tr>
                        <td><%= warehouse.id %></td>
                        <td><%= warehouse.name %></td>
                        <td><%= warehouse.address %></td>
                        <td><%= warehouse.location %></td>
                        <td><%= Project.find(warehouse.project_id).name %></td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>