<section class="wrapper">
  <div class="col-md-12 col-lg-12 size-adaptable">
    <%= simple_form_for @warehouse do |f| %>
      <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10 col-lg-10">
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                        <h4>Nuevo almacen</h4>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <%= submit_tag 'Guardar', class: 'btn btn-info' %>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                    <%= link_to 'Listar', warehouses_path, class: 'btn btn-warning' %>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-9 col-lg-9 border-form">
                <div class="form-horizontal col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                        <div class="form-group">
                            <label for="exampleInputName2">Nombre</label>
                            <%= f.input :name, label: false, input_html: { class: 'form-control' } %>
                        </div>
                        <div class="form-group">
                          <label>Direccion</label>
                          <%= f.input :address, label: false, input_html: { class: 'form-control' } %>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-5 col-lg-offset-2 col-lg-5">
                        <div class="form-group">
                            <label>Locacion</label>
                          <%= f.input :location, label: false, input_html: { class: 'form-control' } %>
                        </div>
                        <div class="form-group">
                        	<label>Proyecto</label>
                        	<%= f.input :project_id, collection: Project.all, label_method: :name, value_method: :id, label: false, include_blank: 'Elija el proyecto...', input_html: { class: 'form-control js-example-basic-single' } %>
                        </div>
                    </div>
                </div>
            </div>
    <% end %>
  </div>
</section>
