<!DOCTYPE html>
<html>
<head>
  <title>Centris</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<section id="container">
    <aside>
    	<%= render 'layouts/menu_header' %>

        <%= render 'layouts/sidebar' %>
    </aside>

    <section id="main-content">
    	<%= yield %>
    </section>


    <!--footer start-->
    	<footer class="site-footer">
        	<div class="text-center">
                2016 &copy; WeCentris by Walkant.
                <a href="#" class="go-top">
                    <i class="fa fa-angle-up"></i>
                </a>
            </div>
        </footer>
    <!--footer end-->
</section>
</body>
</html>
