<!DOCTYPE html>
<html>
<head>
  <title>Centris</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<section id="container">
    <%= render 'layouts/menu_header' %> 
    <aside>
      <%= render 'layouts/sidebar' %>
    </aside>

    <section id="main-content">      
      <section class="wrapper">
        <div class="col-xs-12 col-sm-12 col-md-offset-6 col-md-4 col-lg-offset-6 col-lg-4 size-adaptable">
          <%= render partial: "shared/flash_messages", flash: flash %>
        </div>
        <%= yield %>
      </section>
    </section>


    <!--footer start-->
    	<footer class="site-footer">
        	<div class="text-center">
                2016 &copy; WeCentris by Walkant.
                <a href="#" class="go-top">
                    <i class="fa fa-angle-up"></i>
                </a>
            </div>
        </footer>
    <!--footer end-->
</section>
  
</body>
</html>
